<!--
<form action='/users' method='POST' data-turbo=false>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <label for='username'>Username:</label>
    <input type='text' name='user[username]' id='username'>
    <label for='email'>Email:</label>
    <input type='email' name='user[email]' id='email'>
    <label for='password'>Password:</label>
    <input type='password' name='user[password]' id='password'>
    <button type="submit">Sign Up</button>
</form>
-->
<%= form_tag("/users", method: :post) do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag("user[username]") %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag("user[email]") %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag("user[password]") %>
    <%= submit_tag("Sign Up") %>
<% end %>
